body{
    background-color: rgb(175, 176, 180);
}

h1 {
    text-align: center;
    color: blue;
}

h2, h3{
    text-align: center;
    color: rgb(167, 15, 167);
    margin-bottom: 0;
}

#game-board td {
    width: 50px;
    height: 50px;
    border: solid 1px rgb(71, 71, 71);
    text-align: center;
    background-color: white
}

#game-board {
    margin-left: auto;
    margin-right: auto;
}

#on-start {
    display: none;
}

form {
    text-align: center;
    margin-top: 15px;
}

.center-button {
    text-align: center;
}

button {
    display: inline-block;
    width: auto;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    background: blue;
    font-weight: 700;
    }

#guess {
    margin-bottom: 10px;
}

#saved-score {
    position: fixed;
    top: 0;

}
