<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Boggle</title>
</head>
<body>
    <h1>Boggle Game</h1>
    <!-- <div id="game-container"> -->
        <table id="game-board">
            {% for word in board %} 
                <tr>
                {% for letter in word %} 
                    <td>{{letter}}</td>
                {% endfor %} 
            </tr>
            {% endfor %} 
        </table>
    <!-- </div> -->
    <br>
    <form action="" id="guess-form">
        <label for="guess">Enter Your Guess:</label>
        <input type="text" name="guess" id="guess" placeholder="Guess" required>
        <br>
        <button type="submit" id="submit-guess">Submit</button>
    </form> 
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
    <script src="/static/app.js" ></script>
</body>
</html>